/*------------ Font link of Roboto Slab -----------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


/*------- CSS reset default -----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------- smooth scroll -----*/

html {
    scroll-behavior: smooth;
}


/*-------- Logo and image of Navigation Bar ---------*/

#nav-logo {
   width: 14%;
    margin: auto;  

}


.nav-logo-content {
    display: flex;
    /* justify-content: center; only work after display flex */
    color: white;
    font-size: 1.9rem;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
    margin: auto; */
}

/*------- Navigation Bar Section -----------*/

#nav-head {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 0 30px 0;

}


#nav-head,
ul,
li,
#nav-logo,
.lb,
a {
    background: none;
    background-color: #2c3e50;

}


#nav-head ul {
    display: flex;
    justify-content: center;
    width: 100%;
}


#nav-head ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.3rem;
    line-height: 80px;
    margin: 0 5px;


}

#nav-head ul li a {
    color: white;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}

#nav-head ul li a:hover,
a.active {
    color: rgb(9, 8, 8);
    background: linear-gradient(1deg, #9aacac, black);

}

/*-------- checkbox section for hamburger ------*/
/* (CodingNepal,2020) */

#checkbox {
    display: none;
}

.ham-img {
    display: none;
}

/* -----Work hero section---------- */

.work-section {
    border: 1px solid grey;
    background-image: url(../image/bg1.jpg);
    height: 91vh;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;

}

.work-img-head {
    height: 417px;
    width: 450px;
    margin: auto;

}

.work-img {
    height: 100%;
    width: 95%;
    margin: auto;
    border: 3px dashed #0bb3f8;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 0px 8px 45px 29px;
}

.work-content {

    width: 58%;
    height: 10%;
    margin: 127px 0px;
    padding: 2rem;
}

/*------------ font style section --------*/

h1, h2, h3{
    font-family: 'Roboto Slab', serif;
}

.red-span{
    color:red
}

.green-span{
    color: #83fc6d;
}

.title-big {
    color: greenyellow;
    text-align: center;
    font-size: 2.8rem;
    padding: 12px;

}

.para-big {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.title-small {
    color: black;
    text-align: center;
    font-size: 2.1rem;
    padding: 12px;

}

.para-small {
    color: black;
    text-align: center;
    font-size: 1.2rem;

}

.work-title {
    color: white;
    font-size: 1.8rem;
}

.work-para {
    color: white;
    font-size: 1.3rem;
}

/*----------- Hobby section --------------*/
/*  (Coding Power, 2022) */
.title-cont {
    margin: 12px;
}

#hobby {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 98%;
    margin: auto;
}

#hobby .box {
    width: 350px;
    height: 410px;
    box-sizing: border-box;
    border-radius: 23px;
    background-color: #f4f4f4;
    margin: 14px;

}


.box .img {
    width: 100%;
    height: 255px;
    display: block;
    margin: auto;
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;

}


/*------------------- footer section -------------------*/
.footer {
    
    width: 100%;
    background: linear-gradient(to right, #2c3e50, #000000);
    color: #fff;
    padding: 18px 0 13px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    font-size: 0.95rem;
    line-height: 20px;
    text-align: center;
}

.hr-foot{
    width: 97.5%;
    margin: 3vh;

}

/*----------- Meadia query section --------------*/
/* checkbox section for hamburger */

/*------ (CodingNepal,2020) -----*/
@media only screen and (max-width:880px) {



    #nav-logo {
        width: 23%;
    }

    .ham-img {
        display: block;
        margin-top: 0.2vh;
        margin-left: 15px;
        width: 35px;
        height: 25px;
        cursor: pointer;
    }

    #nav-head ul {
        display: block;
        position: fixed;
        width: 100%;
        height: 70vh;
        top: 78px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    #nav-head ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #nav-head ul li a {
        font-size: 20px;

    }

    #nav-head ul,
    li,
    a {
        background: #333;
    }


    #checkbox:checked~ul {
        left: 0;

    }

}

/*--------------- media query for #nav-logo section--------------- */

@media only screen and (max-width:730px) {

    #nav-logo {
        width: 24%;


    }
}

@media only screen and (max-width:550px) {

    #nav-logo {
        width: 32%;


    }
}

@media only screen and (max-width:455px) {

    #nav-logo {
        width: 44%;


    }
}

@media only screen and (max-width:350px) {

    #nav-logo {
        width: 54%;
    }

    .footer {
            font-size: 0.7rem;

    }

    .hr-foot {
        width: 90%;
    }
}



/*-------------- content section -----------*/
@media only screen and (max-width:1220px) {
    .work-img {
        height: 336px;
        width: 410px;
    }

    .work-img-head {

        height: 336px;
        width: 410px;

    }
}

@media only screen and (max-width:1000px) {
    .work-content {

        width: 90%;
        height: 10%;
        margin: auto;
    }

    .work-title {
        text-align: center;
        font-size: 1.3rem;
    }

    .work-para {
        font-size: 1rem;
        text-align: center;
    }
}

@media only screen and (max-width:455px) {
    .work-img {
        height: 248px;
        width: 267px;

    }

    .work-img-head {

        height: 255px;
        width: 270px;

    }

    .work-content {
        padding: 0.8rem;
        width: 100%;
    }

    .work-container {
        margin-top: 36%;
    
    }
}


/* CodingNepal (2020) How to Create Responsive Navigation Bar using HTML and CSS. YouTube[Online]. 
Available from:https://www.youtube.com/watch?v=oLgtucwjVII [Accessed 12 MAR 2023]. */

 /* Coding Power (2022)  Responsive eCommerce Website Product Cards using Html & CSS | Responsive Product Cards Design. YouTube[Online].  
Available from:https://www.youtube.com/watch?v=hn9K-WRbn-w[Accessed 13 Mar 2023]. */